

.item{
  width: 200px;
  height: 100px;
  background: #159813;
 padding: 20px;
 margin: 20px;
  border: 5px red solid;


}
html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

body{
  font-family: 'Lato';
font-weight: 400;
font-size: 16px;
line-height: 1.2;
color: #030600;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 1060px;
  width: 100%;
  height: 100%; 
  margin: 0 auto;
 
  }

  .header{
   padding-top: 56px;
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    padding-bottom: 15px;
    z-index: 22;
  }
  .header_active{
    background: #0E1D28;
  }

  .wrapper_header{
    display: flex;
    justify-content: space-between;
    align-items: end;
   
  }

  .header_ul{
    display: flex;
   gap: 82px;
  }

  .header_a{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
  }
  .header_a:hover, .header_a:focus, .header_a:active{
    opacity: 75%;
  }

  .intro{
    min-height: 100vh;
    background: url(../img/Hero.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
  
  
 
  }

  h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 619px;
    margin-bottom: 22px;
  }

.intro_subtitle{
  color: #FFFFFF;
  max-width: 546px;
  margin-bottom: 59px;
}

.intro_wrapper{
  display: flex;

}

.search_form_info{
  display: flex;
  flex-wrap: wrap;

}

.search-form_field{
  width: 297px;
  background: transparent url(/img/Oval.svg) no-repeat left  6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;

}

.search-form_field::placeholder{
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

button{
  padding: 15px 39px;
  background: #1B7DFF;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  border: 0;
}

button:hover, button:focus, button:active{

  background: #1256b1;
}
/*Intro styles end*/

/*Benefit styles start*/
.benefit{
  margin-bottom: 131px;
}

.benefit__wrapper{
  max-width: 1262px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  padding: 93px 100px 111px 100px;
  position: relative;
}

.title{
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  color: #102746;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #FFFFFF;
}

.benefit__cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 55px;
  border: 2px red solid;
}

.benefit__card{
  border: 2px green solid;
 
}

.benefit__img-icon{
  border: 2px red solid;
}

.benefit__img{
  max-width: 66px;
  width: 100%;
}

.subtitle{
  margin: 37px 0 26px;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.benefit__text{
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.benefit__a{
  display: inline-block;
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  background: url('../img/Shape.png') 95% center no-repeat;
  padding-right: 66px;
  transition: 0.2s all;
}

.benefit__a:hover{
  background: url('../img/Shape.png') 100% center no-repeat;
}
/*Benefit styles end*/


/*Place styles start*/
.place{
  margin-bottom: 131px;
}

.container__place{
  max-width: 1262px;
  margin: 100%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid red;
}

.titlewithline{
  font-weight: 500;
  font-size: 35px;
  color: #102746;
}

.place__caput{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.titlewithline{
  position: relative;
  padding-bottom: 10px;
}


.titlewithline::after{
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color:#006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
  
}


.place__view{
  font-weight: 400;
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  padding-bottom: 10px;
  padding-right: 60px;
  background: url(../img/Shape.png) no-repeat right 5px;
}
.place__view:hover{
  opacity: .5;
}

.place__cards{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 10px;
 
 
}
.place__card-title_mount{
  grid-column: span 3;
}

.place__card-title_mountsmall{
  grid-column: span 2;
}

.place__card-pic{
  width: 100%;
  transition: 0.15s all;
}
.place__card-pic-lg{
  height: 354px;
  object-fit: cover;
}
.place__card-pic-sm{
  height: 283px;
  object-fit: cover;
}

.place__card{
  position: relative;
  overflow: hidden;
}

.place__card::after{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  
}
.place__card-title{
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
  font-weight: 700;
  font-size: 50px;
  color: #FFFFFF;
}

.place__card:hover .place__card-pic{
  transform: scale(1.05);
}

/*Place styles end*/

/*Tour styles start*/
.tours{
  margin-bottom: 139px;
}

.tour{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
  
}


.tour__title{
  font-weight: 500;
  font-size: 30px;
  color: #102746;
  
}

.tour__info{
  padding-left: 47px;
}

.tour-desc{
  font-weight: 400;
  font-size: 16px;
  color: #102746;
  margin-bottom: 58px;
  margin-top: 85px;
}

.tour__viev{
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  padding-bottom: 10px;
  padding-right: 60px;
  background: url(../img/Shape.png) no-repeat right 5px;
}


.tour__viev:hover{
  opacity: .5;
}
/*Tour styles end*/


/*Top styles start*/
.top__title{
  margin-bottom: 54px;
}
.top__cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 58px;
  margin-bottom: 144px;
}
.top__card{
  columns: span 1;
}
.top__card-pic{
  position: relative;

}

.top__card-stat{
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background: rgba(21, 24, 36, 0.6);
  padding: 12px 25px;
}
.top__carg-title{
    font-weight: 500;
    font-size: 18px;
    color: #fcfffd;
    margin: 0 auto 0 0;
   
}
.top__card-like{
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding-right: 20px;
  background: url(../img/heart-icon.svg) no-repeat right center;
  margin-right: 14px;
}

.top__card-comment{
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding-right: 23px;
  background: url(../img/comment-icon.svg) no-repeat right center;
}

.top__card-desc{
  font-weight: 400;
  font-size: 16px;

  color: #102746;
  margin-bottom: 31px;
  margin-top: 45px;
}
.top__more{
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  background: #006DFE;
  padding: 11px 20px;
}
.top__more:hover, .top__more:focus, .top__more:active{
  background: #1256b1;
}

/*Top styles end*/

/*video styles start*/
.video{
  width: 100%;
}

.video__container{
  max-width: 1262px;
  width: 100%;
  margin: 0 auto;
  border: #159813 solid 3px;
  position: relative;
}
.video__element{
  padding-top: 56.25%;
}
.video__vid{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
/*video styles end*/





/*foter styles start*/

.footer{
  background: #0E1D28;
}
.footer__wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 119px 0;
}

.footer__logo{
  flex-basis: 50%;
}

.footer__nav{
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__menu{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.footer__title{
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 3px;
}
.footer__menu-link{
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
  opacity: .70;
}


/*footer styles end*/